

    /*
        标签样式重置
    */
    body, div, p, h1, h2, h3, h4, h5, h6, ul, li, dl, dt, a, input, button, textarea, select {
        margin: 0;
        padding: 0;
        outline: none;
    }

    /*  
        全局组件自定义组件样式
        提出来目的: 复用
    */
    // DragDialog组件 
    .global-drag-dialog {
        .dots {
            opacity: 1;
            >div {
                position: absolute;
                width: 12px;
                height: 12px;
                box-sizing: border-box;
                border: 2px solid #999;
                background: #fff;
                z-index: 99999;
            }
            .dot1 {
                top: -6px;
                left: -6px;
                cursor: nw-resize;
            }
            .dot2 {
                top: -6px;
                left: calc(50% - 6px);
                cursor: n-resize;
            }
            .dot3 {
                top: -6px;
                right: -6px;
                cursor: ne-resize;
            }
            .dot4 {
                top: calc(50% - 6px);
                left: -6px;
                cursor: w-resize;
            }
            .dot5 {
                top: calc(50% - 6px);
                right: -6px;
                cursor: e-resize;
            }
            .dot6 {
                bottom: -6px;
                left: -6px;
                cursor: sw-resize;
            }
            .dot7 {
                bottom: -6px;
                left: calc(50% - 6px);
                cursor: s-resize;
            }
            .dot8 {
                bottom: -6px;
                right: -6px;
                cursor: se-resize;
            }
        }
        /*定义滚动条高宽*/  
        ::-webkit-scrollbar {  
            width: 5px;
        }  
        /*定义滚动条轨道 内阴影+背景色*/  
        ::-webkit-scrollbar-track {  
            box-shadow: inset 0 0 6px rgba(0, 0, 0, .2);  
            background-color: #fff;  
        }    
        /*定义滑块 内阴影+圆角+背景色*/  
        ::-webkit-scrollbar-thumb {  
            border-radius: 10px;  
            box-shadow: inset 0 0 6px rgba(0,0,0,.3);    
        }  
        /*滑块效果*/
        ::-webkit-scrollbar-thumb:hover {
            border-radius: 5px;
            box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
            background: rgba(0,0,0,0.4);
        }
    }

    /*
        transition过渡动画
    */
    // 拖拽框
    .drag-dialog-enter-active, .drag-dialog-leave-active {
        transition: opacity .4s;
    }
    .drag-dialog-enter, .drag-dialog-leave-to {
        opacity: 0;
    }
    .global-drag-dialog ::-webkit-scrollbar  {  
        width: 5px;  
        height: 110px;  
        background-color: #F5F5F5;  
    }  